/* Variables and initialization */
:root {
  --black: #121212;
  --white: #fffffc;
  --accent: #ffd700;
  --titleFont: "Poppins", sans-serif;
  --mainFont: "Montserrat", sans-serif;
  --logoFont: "Audiowide", sans-serif;
  --spacingSmall: 1rem;
  --spacingMedium: 2rem;
  --spacingLarge: 4rem;
}

body {
  font-size: 16px;
  font-family: var(--mainFont);
  color: var(--white);
}

/* Utility classes */
.bold {
  font-weight: bold;
}

.section {
  padding: var(--spacingLarge) var(--spacingMedium);
}

/* Header */
.globalHeader {
  text-align: center;
}

.globalNavbar {
  background: var(--black);
  padding: var(--spacingSmall);
}

.navlinksContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacingMedium);
  color: var(--white);
}

.navlinksContainer a {
  transition: 0.3s ease;
}

.navlinksContainer a:hover {
  color: var(--accent);
}

.globalLogo {
  color: var(--accent);
  font-family: var(--logoFont);
  margin-bottom: var(--spacingSmall);
  font-size: 1.8rem;
}

.heroSection {
  padding: var(--spacingMedium);
  color: var(--black);
  background: linear-gradient(
    to bottom right,
    rgba(255, 215, 0, 0.5),
    rgba(255, 255, 252, 0.5)
  );
}

.heroSectionIllustration img {
  border-radius: 8px;
  margin: 0 auto;
}

.heroSectionText {
  display: flex;
  flex-direction: column;
}

.headerTitle {
  font-size: 2rem;
  font-family: var(--titleFont);
  margin: var(--spacingMedium) 0;
}

.subtitle {
  font-size: 1.2rem;
  font-family: var(--titleFont);
  font-weight: 500;
}

.CTA {
  background: var(--accent);
  width: 200px;
  margin: var(--spacingMedium) auto var(--spacingSmall);
  padding: var(--spacingSmall);
  border: 2px solid var(--white);
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.CTA:hover {
  background: transparent;
  border: 2px solid var(--accent);
}

/* Product section */
.productSection {
  background: var(--black);
}

.sectionTitle {
  margin-bottom: var(--spacingMedium);
}

.productSection img {
  border-radius: 8px;
  margin: var(--spacingMedium) auto 0;
  width: clamp(500px, 100%, 600px);
}

/* Function section */
.functionSection {
  color: var(--black);
}

.functionSection .sectionText {
  color: var(--black);
  margin-bottom: var(--spacingMedium);
}

.functionSection ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacingSmall);
}

/* Feedback section */
.feedbackSection {
  background: var(--black);
}

.feedbackList {
  display: flex;
  flex-direction: column;
  gap: var(--spacingSmall);
  margin-top: var(--spacingMedium);
}

.feedbackCard {
  border-radius: 5px;
  width: clamp(250px, 100%, 800px);
  margin: 0 auto;
  background: var(--white);
  color: var(--black);
  padding: var(--spacingMedium);
}

.feedbackText {
  margin: var(--spacingSmall) 0;
  font-style: italic;
}

.feedbackAuthor {
  text-align: right;
}

/* Offer section */
.offerSection {
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: var(--spacingMedium);
}

.offerSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offerSection .sectionTitle {
  text-align: center;
  margin-bottom: 0;
}

.offerSection .sectionText {
  margin-top: var(--spacingSmall);
  text-align: center;
  margin: var(--spacingSmall) auto 0;
}

.offerSection .CTA {
  margin: var(--spacingMedium) auto 0;
}

.offerSection img {
  width: clamp(500px, 100%, 600px);
  margin: 0 auto;
  border-radius: 8px;
}

/* Footer */
.globalFooter {
  background: var(--black);
  padding: var(--spacingMedium);
}

.globalFooter ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacingSmall);
}

.globalFooter a {
  transition: 0.3s ease;
}

.globalFooter a:hover {
  color: var(--accent);
}

.sectionText {
  max-width: 65ch;
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .section {
    padding: var(--spacingLarge);
  }

  .globalNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacingSmall) var(--spacingMedium);
  }

  .globalLogo {
    margin-bottom: 0;
  }

  .heroSection,
  .productSection {
    display: flex;
    padding: var(--spacingLarge);
    justify-content: center;
    gap: var(--spacingLarge);
  }

  .heroSection {
    flex-direction: row-reverse;
  }

  .heroSectionIllustration {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productSection {
    flex-direction: row-reverse;
  }

  .heroSectionText,
  .sectionMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .functionSection {
    display: flex;
    justify-content: center;
    gap: var(--spacingLarge);
  }

  .functionSectionMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .functionSection ul {
    gap: var(--spacingMedium);
  }

  .feedbackSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offerSection {
    flex-direction: row;
    justify-content: center;
    gap: var(--spacingMedium);
    align-items: center;
  }
}
